@font-face{
    
    font-family: g;
    src: url(./GeneralSans-Regular.otf);
}
@font-face {
    font-family: gm;
    src: url(./GeneralSans-Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: g;
}
html,body{
    height: 100%;
    width: 100%;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingele{
    transform: translateY(100%);
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}
#nav{
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#heading{
    margin-top: 90px;
}
#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#heading h1{
    margin-left: 30px;
    opacity: 0.6;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 130px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
}
#smallheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 120px;
    padding-right: 40px;
}
#smallheadings h5{
    margin-top: 0.25vw;
    text-align: right;
    font-size: 1.5vw;
    text-transform: uppercase;
}
#herofooter{
    padding: 0 1vw;
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color:#fff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 13px;
}
#iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
    display:flex;
    justify-content: center;
    align-items: center;
}
#second{
    color: #fff;
    padding: 10vh;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-left: 0;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 3vw 2.5vw;
    width: 100%;
    padding-right: 0;
    border-top: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 8vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    opacity: 0;
    pointer-events: none;
    height: 110%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%,-50%);
}
#about{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vw 10vw;
    width: 100%;
    background-color: black;
    padding-left: 40vw;
}
#about img{
    width: 15vw;
    margin-right: 30px;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.5;
    margin-bottom: 30px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
#subscribe{
    color: white;
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 8vw;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footer a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
#footerright{
    display: flex;
    gap: 20px;
}